.card_style {
  height: 400px;
  width: 400px;
  padding-top: 80px;
  text-align: center;
  background: #52c0f5;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  border-radius: 10px;
  box-sizing: border-box;
    @media only screen and (max-width: 500px) {
          width: 200px;
    height: 220px;
    padding-top: 50px;
        }

}

.container_style {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: middle;

  a {
    color: #fff;
      text-decoration: none;
    &:hover {
      
      color: #dee2e6;
    text-decoration: none;
    }
  }
   @media only screen and (max-width: 500px) {
       height: 50vh;
        }
 
}
